@model CategoryCreateViewModel
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h1 class="text-center">Create Category</h1>
    <hr />

    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <form method="post">
                <div class="mb-3">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="d-flex mb-3">
                    <button type="submit" class="btn btn-primary ms-auto">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

