
@{
    ViewData["Title"] = "Lockout";
}

<div class="jumbotron">
    <h1>Account Locked-Out !</h1>
    <p>
        ! Oh no you have reached maximum login attempt.Please retry after 15 min.
    </p>
</div>