
@{
    ViewData["Title"] = "Logout";
}

<form id="logoutForm" method="post" asp-controller="Account" asp-action="Logout" class="form-inline">
    <button type="submit" class="nav-link btn btn-link">Logout</button>
</form>
